node_modules/

# Python
_pycache_/
*.py[cod]
/migrations/
.env
db.sqlite3
media/
staticfiles/
local_settings.py

# Node
node_modules/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/