{% extends 'base.html' %}

{% block title %}Click Cart - Home{% endblock %}

{% block content %}

        <!-- Product Categories -->
    <h2>Categories</h2>
  
        <div class="categories">
            <div class="category-item">
                <img src="diagnostic.jpg" alt="Diagnostic">
                <p>Diagnostic</p>
            </div>
            <div class="category-item">
                <img src="wound_care.jpg" alt="Wound Care">
                <p>Wound Care</p>
            </div>
            <div class="category-item">
                <img src="surgical.jpg" alt="Surgical">
                <p>Surgical</p>
            </div>
            <div class="category-item">
                <img src="ppe.jpg" alt="PPE">
                <p>PPE</p>
            </div>
            <div class="category-item">
                <img src="sterilization.jpg" alt="Sterilization">
                <p>Sterilization</p>
            </div>
            <div class="category-item">
                <img src="respiratory_care.jpg" alt="Respiratory Care">
                <p>Respiratory Care</p>
            </div>
        </div> 
    </div>
{% endblock %}