

{% block content %}
<h1>search</h1>

<!-- Search Bar -->
<form method="post" action="{% url 'search_bar' %}">
    {% csrf_token %}
    <input type="text" name="searched" placeholder="Search for products..." value="{{ query|default:'' }}">
    <button type="submit">Search</button>
</form>

{% if searched %}
    <h2>Search Results:</h2>
    <ul>
        {% for product in searched %}
            <li>
                
                <strong>{{ product.name }}</strong>: ${{ product.price }}
                <p>{{ product.description }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% if query %}
        <p>No products found for "{{ query }}".</p>
    {% endif %}
{% endif %}
{% endblock %}